##############################
## JavaScript / TypeScript
##############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
*.d.ts

##############################
## Next.js
##############################
.next/
out/
build/

##############################
## Local Environment
##############################
.env*.local

##############################
## Testing
##############################
coverage/

##############################
## Miscellaneous
##############################
.DS_Store
*.pem

##############################
## Debugging Logs
##############################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

##############################
## Vercel
##############################
.vercel/

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## WebStorm
##############################
.idea/
*.iml
.idea_modules/

##############################
## macOS
##############################
.DS_Store
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

##############################
## Windows
##############################
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

##############################
## Linux
##############################
*~
.*.swp
.*.swo
